<section class="contact">
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><img src="../../../../../assets/home.png" alt=""></div>
        <div class="text">
          <h3>Address</h3>
          <p>
            Jalalpur Jattan Road,<br />
            Gujrat, Punjab 50700
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><img src="../../../../../assets/call.png" alt=""></div>
        <div class="text">
          <h3>Phone</h3>
          <p>(053) 3643112</p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><img src="../../../../../assets/email.png" alt=""></div>
        <div class="text">
          <h3>Email</h3>
          <p>uog.edu.pk</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form action="" method="POST">
        <h2>Send Message</h2>
        <div class="inputBox">
          <input type="text" name="name" required />
          <span>Full Name</span>
        </div>
        <div class="inputBox">
          <input type="email" name="email" required />
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea name="message" required cols="22" rows="5"></textarea>
          <span>Enter Your Message!</span>
        </div>
        <div class="inputBox">
          <input class="btn" type="submit" value="Send" name="send" />
        </div>
      </form>
    </div>
  </div>
</section>

<!-- <div class="contact container">
  <h1>Contact Us</h1>

  <div class="contact-box">
    <div class="contact-left">
      <h3>Feel free to get in touch with us!</h3>
      <form>
        <div class="input-row">
          <div class="input-group">
            <label>Name</label>
            <input type="text" placeholder="Enter Name" />
          </div>
          <div class="input-group">
            <label>Phone</label>
            <input type="text" placeholder="Enter Phone Number" />
          </div>
        </div>

        <div class="input-row">
          <div class="input-group">
            <label>Email</label>
            <input type="text" placeholder="abc@uog.edu.pk" />
          </div>
          <div class="input-group">
            <label>Subject</label>
            <input type="text" placeholder="Demo" />
          </div>
        </div>
        <label>Message</label>
        <textarea rows="5" placeholder="Your Message"></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
    <div class="contact-right">
      <h3>We're just a Call away</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis
        blandit malesuada. Donec tortor erat, luctus ut efficitur sit amet,
        rhoncus ac mi. Cras at facilisis nisl, et vulputate neque. Phasellus
        ornare pretium risus nec auctor.
      </p>
      <h3>Reach Us Now!</h3>
      <table>
        <tr>
          <td>Email</td>
          <td>transport@uog.edu.pk</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>+123456789</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            Transport Office, Gate# 01, University Of Gujrat, Hafiz Hayat,Gujrat
            50700
          </td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
