<header>   
    <!-- Top Header -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-centers">
                <div class="col-lg-4 col-md-4" data-aos="zoom-out" data-aos-delay="2100">
                    <div class="top-social-links">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
                      </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="top-header-rightarea d-flex justify-content-md-end justify-content-center">
                        <div class="top-header-contact-box d-flex" data-aos="zoom-out" data-aos-delay="2300">
                            <div class="top-header-contact-box-icon">
                                <i class="fal fa-phone-alt"></i>
                            </div>
                            <div class="top-header-contact-box-txt">
                                <a href="tel:111222333">Call Us</a>
                            </div>
                        </div>
                        <div class="top-header-contact-box d-flex mx-2" data-aos="zoom-out" data-aos-delay="2600">
                            <div class="top-header-contact-box-icon">
                                <i class="fal fa-envelope-open"></i>
                            </div>
                            <div class="top-header-contact-box-txt">
                                <a href="mailto:info@dummy.org">Mail Us</a>
                            </div>
                        </div>
                        <div class="top-header-contact-box d-none d-sm-flex" data-aos="zoom-out" data-aos-delay="2900">
                            <div class="top-header-contact-box-icon">
                                <i class="fal fa-clock"></i>
                            </div>
                            <div class="top-header-contact-box-txt">
                                <a href="#">Mon - Fri: 9AM - 9PM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="sticky-nav">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/logo.png" class="w-50" alt="img">
            </a>
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-navbar">
                <span class="navbar-toggle-icon"><i class="fal fa-bars"></i></span>
              </button>
                <div class="d-lg-none align">
                    <div class="nav-search-box1 pe-2">
                        <a class="nav-search-icon collapsed color-white" data-bs-toggle="collapse" href="#search-box1"><i class="fal fa-search"></i></a>
                        <div class="collapse" id="search-box1">
                            <form>
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search ..." required>
                                    <button class="form-icon" type="submit"><i class="fal fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a class="color-white" data-bs-toggle="offcanvas" href="#sidemenu"><i class="fas fa-align-right"></i></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="my-navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div>
                <a href="#" class="btn"> Routes </a>
            </div>
        </div>    
    </nav>
    <!-- sidemenu -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidemenu">
        <div class="offcanvas-header">
            <h5 class="bold pt-4">Top News of the Day!</h5>
            <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptate veritatis.</p>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="blogs-detail-posts mb-5">
                <div class="d-flex mb-4">
                    <div class="left-box">
                        <img src="assets/images/blogs-detail/pp1.jpg" class="w-100" alt="img">
                    </div>
                    <div class="w-100">
                        <a href="blog-details.html" class="popular-post-title">How Shipment is Made these Days</a>
                        <p class="text-muted small">ON 20.08.2021</p>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="left-box">
                        <img src="assets/images/blogs-detail/pp2.jpg" class="w-100" alt="img">
                    </div>
                    <div class="w-100">
                        <a href="blog-details.html" class="popular-post-title">Storage of items is made simple</a>
                        <p class="text-muted small">ON 19.08.2021</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="left-box">
                        <img src="assets/images/blogs-detail/pp3.jpg" class="w-100" alt="img">
                    </div>
                    <div class="w-100">
                        <a href="blog-details.html" class="popular-post-title">Items ready to be delivered</a>
                        <p class="text-muted small">ON 24.08.2021</p>
                    </div>
                </div>
            </div>
            <div class="daily-detaasdils">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-sm-center pb-4">
                            <h5 class="bold">500</h5>
                            <p>Items Delivered</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-center pb-4">
                            <h5 class="bold">1000</h5>
                            <p>New Shipments</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-center pb-4">
                            <h5 class="bold">100</h5>
                            <p>New CLients</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-center pb-4">
                            <h5 class="bold">1000</h5>
                            <p>Packed & Ready</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-light pt-4">
                <h6 class="bold mb-3">Contact Us <span class="color-primary bold">Now</span></h6>
                <p>Call Us: <a class="bold-600" href="tel:111222333">111-222-333</a></p>
                <p class="my-1">Email Now: <a class="bold-600" href="mailto:info@trucklog.org">info@trucklog.org</a></p>
                <p>Visit Us: <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103210.54931481255!2d-115.2037760894122!3d36.061062403470714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c57a76423ced%3A0x98534c935aac7b95!2sParadise%2C%20NV%2C%20USA!5e0!3m2!1sen!2s!4v1629049212984!5m2!1sen!2s"
                        class="venobox bold-600" data-vbtype="iframe">Dummy area street #123</a></p>
            </div>
        </div>
    </div>
</header>