
    <div class="container">
        <h1>Contact Us</h1>
     
        <div class="contact-box">
            <div class="contact-left">
                <h3> Feel free to get in touch with us!</h3>
                <form>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Name</label>
                            <input type="text" placeholder="Enter Name">
                        </div>
                        <div class="input-group">
                            <label>Phone</label>
                            <input type="text" placeholder="Enter Phone Number">
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-group">
                            <label>Email</label>
                            <input type="text" placeholder="abc@uog.edu.pk">
                        </div>
                        <div class="input-group">
                            <label>Subject</label>
                            <input type="text" placeholder="Demo">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea rows="5" placeholder="Your Message"></textarea>
                    
                    <button type="submit">Send</button>
                
                </form>

            </div>
            <div class="contact-right">
                <h3>We're just a Call away</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut facilisis blandit malesuada. Donec tortor erat, luctus ut efficitur sit amet, rhoncus ac mi.
                    Cras at facilisis nisl, et vulputate neque. Phasellus ornare pretium risus nec auctor.</p>
                <h3>Reach Us Now!</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>transport@uog.edu.pk</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+123456789</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Transport Office, Gate# 01,
                            University Of Gujrat, Hafiz Hayat,Gujrat 50700
                        </td>
                    </tr>
                    
                </table>    


            </div>
        </div>
    