<!-- Student's Response - Start -->
<section class="section student-response">
  <div class="container">
    <div class="section-title">
      <h2 class="section-heading">Students Response</h2>
      <span class="section-separator"></span>
      <p class="section-para">
        See What our Students have to say about our Transport System.
      </p>
    </div>
  </div>
  <div class="testimonials-carousel-wrap">
    <div class="listing-carousel-button listing-carousel-button-next">
      <img src="../../../assets/next.png" alt="">
    </div>
    <div class="listing-carousel-button listing-carousel-button-prev">
      <img src="../../../assets/previous.png" alt="">
    </div>
    <div class="testimonials-carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="./assets/testimonials/21.jpg" />
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  A little gesture of recognition, appreciation, and
                  acknowledgment goes a long way. So do leave some words of
                  encouragement and positive motivational messages to the
                  studious and hardworking students around us!
                </p>
                <a href="#" class="text-link"></a>
                <div class="testimonials-avatar">
                  <h3>19011519-015</h3>
                </div>
              </div>
            </div>
          </div>

          <!--second--->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="./assets/testimonials/3.jpg" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Students are the future leaders of the country. Their
                  compassion, dedication, hopes, and dreams will lead our
                  society into a progressive future one day. Nevertheless,
                  student life is not easy! A diligent student juggles between
                  exams, and self-learning, and other activities every day, so
                  we must extend our best assistance towards them as well!
                </p>
                <a href="#" class="text-link"></a>
                <div class="testimonials-avatar">
                  <h3>19011519-027</h3>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>
          <!--third-->

          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="./assets/testimonials/4.jpg" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  A little gesture of recognition, appreciation, and
                  acknowledgment goes a long way. So do leave some words of
                  encouragement and positive motivational messages to the
                  studious and hardworking students around us!
                </p>
                <a href="#" class="text-link"></a>
                <div class="testimonials-avatar">
                  <h3>19011519-037</h3>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>

          <!--fourth-->
          <div class="swiper-slide">
            <div class="testi-item">
              <div class="testi-avatar">
                <img src="./assets/testimonials/6.jpg" />
              </div>
              <div class="testimonials-text-before">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="testimonials-text">
                <div class="listing-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p>
                  Students are the future leaders of the country. Their
                  compassion, dedication, hopes, and dreams will lead our
                  society into a progressive future one day. Nevertheless,
                  student life is not easy! A diligent student juggles between
                  exams, and self-learning, and other activities every day, so
                  we must extend our best assistance towards them as well!
                </p>
                <a href="#" class="text-link"></a>
                <div class="testimonials-avatar">
                  <h3>19011519-024</h3>
                </div>
              </div>
              <div class="testimonials-text-after">
                <i class="fa fa-quote-left"></i>
              </div>
            </div>
          </div>
          <!--testi end-->
        </div>
      </div>
    </div>
    <div class="tc-pagination"></div>
  </div>
</section>
<!-- Student's Response - End -->
