<!-- Transport transport-repair-service Us - Start-->
<section class="section transport-repair-service">
  <div class="container">
    <div class="section-title">
      <h4 class="section-heading">Transport Repair Service</h4>
      <span class="section-separator"></span>
      <p class="section-para">
        Lets Know about how we deal with issues regarding buses.
      </p>
    </div>
  </div>
  <div class="transport-repair-service-container">
    <div class="transport-repair-service-text">
      <h4>Transport Repair Service</h4>
      <p class="">
        A key purpose of transport systems is to provide people with access
        to destinations. A growing body of academic literature has delivered
        extensive evidence of the, sometimes large, disparities in
        accessibility between population groups.
        <br /><br />
        At UOG, we are trying our best to provide students with best Buses
        and experienced drivers so they don't face any difficulty in
        reaching university boundaries, for the want of education.
      </p>
      <a href="about.html" class="btn">View Routes</a>
    </div>
    <div class="transport-repair-service-image">
      <img
        src="../../../../../assets/buildings/uog.jpg"
        class="transport-repair-service-img"
        alt="transport-repair-service transport image"
      />
    </div>
  </div>
</section>
<!-- Transport transport-repair-service Us - End-->
