* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/buildings/uog.jpg') no-repeat bottom center;
  background-color: rgba(17, 15, 15, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  color: var(--btn-clr-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #f4f4f4;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #fff;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(131, 41, 108, 0.4);
}

.contactForm h2 {
  text-align: center;
  font-size: 30px;
  color: var(--btn-clr-base);
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 3px solid var(--btn-clr-base);
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: var(--btn-clr-base);
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  color: var(--btn-clr-base);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  outline: 3px solid var(--btn-clr-base);
  background-color:#fff;
}
.contactForm .inputBox input[type="submit"]:hover {
  color: #fff;
  outline: 3px solid var(--btn-clr-hover);
  background-color:var(--btn-clr-hover);
}
.btn{
  width: 100px;
}

@media(max-width: 900px) {
  .contact {
      padding: 50px;
  }
  .container {
      flex-direction: column;
  }
  .container .contactInfo {
      margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
      width: 100%;
  }
}

@media(max-width: 600px) {
  .contact {
      padding: 50px;
  }
  .container {
      flex-direction: column;
  }
  .container .contactInfo {
      margin-bottom: 40px;
  }
  .container .contactInfo {
      width: 100%;
  }
  .contactForm {
      width: calc(100vw - 20px);
      border-radius: 5px;
  }
}


/* Contact Us
.contact .container {
  clear: both;
  width: 80%;
  margin: 50px auto;
}

.contact .contact-box {
  background: #fffdb0;
  display: flex;
}
.contact .contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact .contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #f2d6ad;
  color: white;
}
.contact h1 {
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
}
.contact .container p {
  margin-bottom: 40px;
}
.contact .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contact .input-row.input-group {
  flex-basis: 45%;
}
.contact input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #ebbb7b;
  outline: none;
  padding-bottom: 5px;
  background: #fff3a7;
}
.contact textarea {
  width: 100%;
  border: 1.5px solid #ebbb7b;
  outline: none;
  padding: 10px;
  background: #fff3a7;
  box-sizing: border-box;
}
.contact label {
  margin-bottom: 5px;
  display: block;
}
.contact button {
  background: #343d70;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact button :hover {
  color: #fff;
  background-color: #83296c;
  transition: 3s ease;
}
.contact .contact-left h3 {
  color: #171717;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact .contact-right {
  color: #232023;
  font-family: "Poppins";
}
.contact .contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
.contact tr td:first-child {
  padding-right: 20px;
}
.contact tr td {
  padding-top: 20px;
}
.contact .contact-right p {
  padding-top: 5px;
  padding-bottom: 5px;
} */
