/* Our Staff - Start */
.our-staff {
  background-color: var(--section-bg-1);
  padding-top: 35px;
}
.our-staff .wrapper {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 20px 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.our-staff .staff {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-staff .staff-mem {
  margin: 8px 30px;
}
.our-staff img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.our-staff h4,
p {
  text-align: center;
  margin: 7px;
}
.our-staff h4 {
  font-size: 18px;
  font-weight: 600;
  color: #7d93b2;
}
.our-staff p {
  font-size: 16px;
  font-weight: 400;
  padding-top: 6px;
  color: #007aff;
}

/* Our Staff - End */

/* Extra small devices (phones, 520px and down) */
@media only screen and (max-width: 520px) {
  .our-staff .wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .our-staff .staff-mem {
    margin: 8px;
    width: 100%;
  }
  .our-staff .staff-mem img {
    width: 150px;
    height: 150px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .our-staff .wrapper {
    justify-content: space-between;
    padding: 8px 20px;
  }
  .our-staff .staff-mem {
    margin: 8px;
  }
}
