<!-- Transport transport-director-message Us - Start-->
<section class="section transport-director-message">
  <div class="container">
    <div class="section-title">
      <h4 class="section-heading">Transport Managing Director</h4>
      <span class="section-separator"></span>
      <p class="section-para">
        Lets hear what our transport managing director has to say about our transport.
      </p>
    </div>
  </div>
  <div class="transport-director-message-container">
    <div class="transport-director-message-text">
      <h4>Managing Director Message</h4>
      <p class="">
        A key purpose of transport systems is to provide people with access
        to destinations. A growing body of academic literature has delivered
        extensive evidence of the, sometimes large, disparities in
        accessibility between population groups.
        <br /><br />
        At UOG, we are trying our best to provide students with best Buses
        and experienced drivers so they don't face any difficulty in
        reaching university boundaries, for the want of education.
      </p>
      <a href="about.html" class="btn">View Routes</a>
    </div>
    <div class="transport-director-message-image">
      <img
        src="../../../../../assets/buildings/uog.jpg"
        class="transport-director-message-img"
        alt="transport-director-message transport image"
      />
    </div>
  </div>
</section>
<!-- Transport transport-director-message Us - End-->
