<!-- Transport Route Plan - Start-->
<section class="route-plan">
  <div class="container">
    <div class="section-title">
      <h2 class="section-heading">Transport Route Plan</h2>
      <span class="section-separator"></span>
      <p class="section-para">Below is the Route Plan for Transport.</p>
    </div>
  </div>
 <div class="route-search">
  <form action="">
    <label for="search">Search Route:</label>
    <input type="text" [(ngModel)]="searchValue" id="search" name="search"
    placeholder="Search: Reg No, Status, CIty, Starting Point, Stops, Driver Name"><br><br>
  </form>
 </div>
  <div class="route-plan-container">
    <table>
      <tr>
        <th colspan="11" class="tbl-header">Transport Route Plan</th>
      </tr>
      <tr>
        <th class="tbl-heading">Sr#</th>
        <th class="tbl-heading">Registration No.</th>
        <th class="tbl-heading">Route #</th>
        <th class="tbl-heading">Status</th>
        <th class="tbl-heading">Time</th>
        <th class="tbl-heading">City</th>
        <th class="tbl-heading">Starting Point</th>
        <th class="tbl-heading">Stops</th>
        <th class="tbl-heading">Driver Name</th>
        <th class="tbl-heading">Cell No.</th>
        <th class="tbl-heading">Bus Helper</th>
      </tr>
      <tr class="tbl-data" *ngFor="let route of routes | searchfilter:searchValue">
        <td>{{route.SERIAL_NUMBER}}</td>
        <td>{{route.REGISTRATION_NUMBER}}</td>
        <td>{{route.ROUTE_NUMBER}}</td>
        <td>{{route.STATUS}}</td>
        <td>{{route.TIME}}</td>
        <td>{{route.CITY}}</td>
        <td>{{route.STARTING_POINT}}</td>
        <td>{{route.STOPS}}</td>
        <td>{{route.DRIVER_NAME}}</td>
        <td>{{route.CELL_NUMBER}}</td>
        <td>{{route.BUS_HELPER}}</td>
      </tr>
    </table>
  </div>
</section>
<!-- Transport Route Plan - End-->
