<!-- HERO -->
<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 mx-auto text-center">
              <h1 class="display-4 text-white">Welcome to UOG Transport System</h1>
              <p class="text-white my-3">Our Aim, Goal and sole Purpose is to provide students with the best facilities of transport so they may face No issue while coming to university for the want of education!</p>
              <a href="#" class="btn me-2 btn-primary btn-abt">About US</a>
              <a href="#" class="btn mx-2 btn-outline-light btn-route">View Routes</a>
          </div>
      </div>
  </div>
</div><!-- //HERO -->
