<div class="section">
    <div class="container">
        <div class="about">
            <h1>About Us</h1>
        </div>
        <div class="content">
            <div class="article">
                <h3>Vice Chancellor's Message</h3>
                     <p>Since its inception in 2004, University of Gujrat (UOG) has never stopped growing – in numbers of students, 
                         numbers of programs, numbers of campuses, numbers of buildings, numbers of courses and research programmes. 
                         Mostly, this growth was organic: the taking of a series of opportunities.
                      
                      As a University, we have absolute confidence in our capacity to continue to deliver high-quality research and innovation. 
                          Faculty, staff and students are the bedrock of any university. The young faculty's energy and enthusiasm are the greatest strength of the university.
                           We aim to create a world-class infrastructure that university needs to accelerate growth and meet region's basic needs.
                      
                          The challenges are enormous. We must compensate and give appropriate recognition to our academic-related and assistant staff, 
                          whose contributions are integral to the health of the University.
                          Our vision is to see all students fully engaged in their career exploration in a manner that enhances their student life experience;
                          helps them to see the relevance of their education to their career development;
                           and enables them to achieve their career goals and make a positive contribution to society.
                      </p>
                      <p> Our mission is to inspire students in the exploration of their career options and to increase their employability
                           through the development of lifelong career-management skills by creating an energized student-centered environment that makes career education accessible to all.</p>
                      <button type= "button">Read More</button>
            </div>
        </div>
        <div class="image-section">
            <img src="E:\University\5th semester\WST\HTML\images\vc.jpg">
        </div>

        
        <div class="content-transport">
          <div class="article">
              <h3>Transport Manager's Message</h3>
                   <p>Since its inception in 2004, University of Gujrat (UOG) has never stopped growing – in numbers of students, 
                       numbers of programs, numbers of campuses, numbers of buildings, numbers of courses and research programmes. 
                       Mostly, this growth was organic: the taking of a series of opportunities.
                    
                    As a University, we have absolute confidence in our capacity to continue to deliver high-quality research and innovation. 
                        Faculty, staff and students are the bedrock of any university. The young faculty's energy and enthusiasm are the greatest strength of the university.
                         We aim to create a world-class infrastructure that university needs to accelerate growth and meet region's basic needs.
                    
                        The challenges are enormous. We must compensate and give appropriate recognition to our academic-related and assistant staff, 
                        whose contributions are integral to the health of the University.
                        Our vision is to see all students fully engaged in their career exploration in a manner that enhances their student life experience;
                        helps them to see the relevance of their education to their career development;
                         and enables them to achieve their career goals and make a positive contribution to society.
                    </p>
                    <button type= "button">Read More</button>
          </div>
      </div>
      <div class="image-section-transport">
          <img src="E:\University\5th semester\WST\HTML\images\transport-director.jpg">
      </div>
    </div>
  </div>
