section.vc-message {
  text-align: center;
  float: left;
  position: relative;
  padding: 30px 0;
  background: #fcfcfd;
  z-index: 1;
  width: 100%;
}
.vc-message .vc-message-container {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.vc-message-container .vc-message-text {
  width: 50%;
  padding: 50px;
  padding-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: start;
  order: 1;
}

.vc-message-container .vc-message-text h4 {
  font-size: var(--sub-heading-size);
  font-family: var(--heading-font);
}

.vc-message-container .vc-message-text p {
  margin-left: 0px;
  line-height: 1.4rem;
  text-align: justify;
  font-family: var(--para-font);
}

.vc-message-container .vc-message-text .btn {
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--btn-clr-base);
  outline: 2px solid var(--btn-clr-base);
  padding: 10px 20px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  transition: color 0.2s;
}

.vc-message-container .vc-message-text .btn:hover {
  color: #fff;
  background-color: var(--btn-clr-hover);
  outline: 3px solid #fff;
  font-weight: 500;
}


.vc-message-container .vc-message-image {
  order: 2;
  width: 50%;
}

.vc-message .vc-message-img {
  object-fit: cover;
  border-radius: 10px;
  width: 600px;
  height: 400px;
}
/* vc-message Transport - End */

