#about {
    background-image: url(../images/about/about-bg.jpg);
    position: relative;
  }
  #about .container .row{
    margin-top: 20px;
  }
  
  #about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff94;
  }
  