<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 align" data-aos="fade-right">
                <div class="position-relative mb-30 mb-lg-0 ">
                    <h2>Welcome to <span class="color-primary bold-600">Our Company</span></h2>
                    <p class="my-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nisi perspiciatis eaque. Reiciendis dolorem ipsum, odio qui, voluptatem temporibus similique harum maxime doloremque illo ad quae nihil saepe cumque quisquam.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur ex suscipit voluptate omnis qui unde maiores molestias voluptatem repellat quod illo, enim cumque eum, magnam corporis? Ad asperiores dolores magnam.</p>
                    <a href="about.html" class="btn"><span>About Us</span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-left">
                <div class="position-relative">
                    <img src="assets/bus-8.jpg" class="w-100" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>