<!-- Transport About Us - Start-->
<section class="section about-transport">
  <div class="container">
    <div class="section-title">
      <h4 class="section-heading">About UOG's Transport</h4>
      <span class="section-separator"></span>
      <p class="section-para">
        Welcome to UOG Transport System. Lets Explore it!
      </p>
    </div>
  </div>
  <div class="about-transport-container">
    <div class="about-transport-text">
      <h4>UOG Transport System</h4>
      <p class="">
        A key purpose of transport systems is to provide people with access
        to destinations. A growing body of academic literature has delivered
        extensive evidence of the, sometimes large, disparities in
        accessibility between population groups.
        <br /><br />
        At UOG, we are trying our best to provide students with best Buses
        and experienced drivers so they don't face any difficulty in
        reaching university boundaries, for the want of education.
      </p>
      <a href="about.html" class="btn">View Routes</a>
    </div>
    <div class="about-transport-image">
      <img
        src="../../../../../assets/buildings/uog.jpg"
        class="about-img"
        alt="about transport image"
      />
    </div>
  </div>
</section>
<!-- Transport About Us - End-->
