<div class="main-banner">
    <div class="owl-carousel owl-theme" id="main-carousel">
        <div class="item" style="background-image: url(assets/images/main-banner/1.jpg);">
            <div class="main-textarea container">
                <div class="main-textbox">
                    <h2 class="main-heading">Taking Logistics to <strong>Next Level</strong></h2>
                    <p class="main-subtxt my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea voluptas culpa libero repellat facilis itaque, eum, reiciendis quasi modi unde quisquam voluptatem soluta ad perferendis ipsa quas vero hic atque!</p>
                    <a href="#services" class="main-btn btn"><span>Get Services</span></a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(assets/images/main-banner/2.jpg);">
            <div class="main-textarea container">
                <div class="main-textbox">
                    <h2 class="main-heading">Transport & Logistics Services</h2>
                    <p class="main-subtxt my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea voluptas culpa libero repellat facilis itaque, eum, reiciendis quasi modi unde quisquam voluptatem soluta ad perferendis ipsa quas vero hic atque!</p>
                    <a href="#quote" class="main-btn btn"><span>Free Quote</span></a>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(assets/images/main-banner/3.jpg);">
            <div class="main-textarea container">
                <div class="main-textbox">
                    <h2 class="main-heading">Transport Your Cargo <strong>Everywhere</strong></h2>
                    <p class="main-subtxt my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea voluptas culpa libero repellat facilis itaque, eum, reiciendis quasi modi unde quisquam voluptatem soluta ad perferendis ipsa quas vero hic atque!</p>
                    <a href="contact.html" class="main-btn btn"><span>Contact Us</span></a>
                </div>
            </div>
        </div>
    </div>
</div>